* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}   

.header{
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header h1{
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
}

.search input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.product-card {
    display: flex;
    max-width: 600px;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
}

.error-card {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
}