* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

}   

main{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.header{
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header h1{
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.section-header{
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.login {
    display: flex;
    padding: 10px; 
    text-align: right;

}

.login button{
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}

/* Search */

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
}

.search input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

<<<<<<< HEAD
.section{
    width: 50%;
    margin: 0 auto;
}


=======
/* Login Info */

.login-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
}
.login-section input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.login-section button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

>>>>>>> FR5---Verifier-admin-interface
/* Product Info */

.product-section {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.traceability-section{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.stage-card {
    margin-bottom: 20px;
}

.claim-section {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.claim-card {
    margin-bottom: 20px;
}

.claim-card h3 {
    margin-bottom: 10px;
    font-size: larger;
}

.evidence-section {
    margin-bottom: 20px;
    margin-top: 10px;
}