<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Answer Result</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
                <a href="/"><button>Home</button></a>
                <a href="/questions/generate"><button>Question</button></a>
        </div>
        <div class="navbar-right">
            <span th:if="${session.points != null}" class="score-display">
                Score: <span th:text="${session.points}">0</span>
            </span>
        </div>
    </div>
    <div class="header">
        <h1 th:text="${resultMessage}">Answer Result</h1>
    </div>

    <div class="result-section">
        <div class="feedback-message">
            <span th:text="${feedback}">Feedback</span>
        </div>

        <div class="info">
            <span class="label"><b>Your Answer:</b></span>
            <span class="value" th:text="${userAnswer}">Your answer</span>
        </div>

        <div th:if="${isCorrect == false}" class="info">
            <span class="label"><b>Correct Answer:</b></span>
            <span class="value" th:text="${correctAnswer}">Correct answer</span>
        </div>

        <div class="passport-link">
            <form action="/submit" method="post">
                <input type="hidden" name="questionGenerated" value="false">
                <input type="hidden" name="userAnswer">
                <input type="hidden" name="userInput" th:value="${passport}"/>
                <button type="submit">View Passport</button>
            </form>
        </div>
    </div>
    <footer>
        <p>This is an educational prototype, do not trust the official certifications for synthetic data</p>
    </footer>
</body>
</html>