<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tracer Input</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<div class="home-button">
    <a href="/"><button>Home</button></a>
</div>
<body>
    <div class="header">
        <h1 th:text="${resultMessage}">Answer result</h1>
    </div>
        <div class="info">
            <p class="value" th:text="${feedback}">Feedback</p>
            <div>
                <p class="label"> <b>Your Answer:</b></p>
                <p class="value" th:text="${userAnswer}">Your answer</p>
            </div>
            <main th:if="${isCorrect == false}">
                <div class="info">
                    <p class="label"> <b>Correct Answer:</b></p>
                    <p class="value" th:text="${correctAnswer}">P100</p>
                </div>
            </main>
            <p class="value" th:text="${evidenceLink}">Evidence</p>
        </div>   
    </main>
</body>
</html>
