<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tracer Input</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head> 
<body>
    <div class="header">
        <h1>Enter Product ID</h1>
    </div>
    <div class="search">
        <form action="/submit" method="post">
            <input type="text" name="userInput" placeholder="e.g. P100" required />
            <button type="submit">Send</button>
        </form>
    </div>
    <main> 
        <div class="product-card" th:if="${productFound != null && productFound == true}">
            <div class="info">
                <span class="label"> <b>Product ID:</b></span>
                <span class="value" th:text="${productId}">P100</span>
            </div>
            <div class="info">
                <span class="label"><b>Name:</b></span>
                <span class="value" th:text="${name}">P100</span>
            </div>
            <div class="info">
                <span class="label"><b>Category:</b></span>
                <span class="value" th:text="${category}">P100</span>
            </div>
            <div class="info">
                <span class="label"><b>Brand:</b></span>
                <span class="value" th:text="${brand}">P100</span>
            </div>
            <div class="info">

                <span class="label"><b>Description:</b></span>
                <span class="value" th:text="${description}">P100</span>
            </div>
        </div>
        <div class="traceability-card">
            <div class="stage-card" th:each="stage, iterStat : ${stages}">
                <h3>Stage <span th:text="${iterStat.count}">1</span></h3>
                <div class="stage-info">
                    <span><b>Stage ID:</b></span>
                    <span th:text="${stage.stageId}">S1-001</span>
                </div>
                <div class="stage-info">
                    <span><b>Stage Type:</b></span>
                    <span th:text="${stage.stageType}">Manufacturing</span>
                </div>
                <div class="stage-info">
                    <span><b>Location:</b></span>
                    <span th:text="${stage.location}">Italy</span>
                </div>
                <div class="stage-info">
                    <span><b>Start Date:</b></span>
                    <span th:text="${stage.startDate}">2024-01-01</span>
                </div>
                <div class="stage-info">
                    <span><b>Description:</b></span>
                    <span th:text="${stage.description}">Description of the stage</span>
                </div>
            </div>
        </div>
    </main>
    <div class="error-card" th:if="${productFound != null && productFound == false}">
        <p th:text="${errorMessage}">Error message</p>
    </div>

</body>
</html>
