<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head> 
<body>
    <div class="header">
        <h1>Product Tracer System</h1>
    </div>
    <div class="login-section">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit">Log in</button>
        </form>
    </div>

    <div class="error-card" th:if="${error != null}">
        <p th:text="${error}"></p>
    </div>
  
    <footer>
        <p>This is an educational prototype, do not trust the official certifications for synthetic data</p>
    </footer>
</body>
</html>
