<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tracer Input</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head> 
<body>
    <div class="header">
        <h1>Mission</h1>
    </div>
    <main th:if="${questionGenerated == true}">
        <div class="header">
            <h1>${questionText}</h1>
        </div>
        <div class="search">
            <form action="/verify" method="post">
                <input type="text" name="userAnswer" placeholder="Enter answer here" required/>
                <input type="hidden" name="correctAnswer" value="${correctAnswer}">
                <input type="hidden" name="evidenceLink" value="${evidenceLink}">
                <button type="submit">Send</button>
            </form>
        </div>
    </main>
</body>
</html>
